p {
  margin: 0;
}

/* Search bar and Current Weather */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 15px 10%;
}

/* Search Bar */
main .search {
  width: fit-content;
  display: flex;
  flex-direction: column;
   justify-content: center;


}

/* The search/history button and all search location inputs are groups lists */
main ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

main ul li {
  width: fit-content;
  margin: 10px;
}

/* Textboxes for entering location */
main .entrybox {
  display: block;
  flex-wrap: wrap;
  width: fit-content;
  text-align: center;
}

/* Search button and history button */
main .searchbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
}

/* History of entries dropdown */
#city-dropdown {
  width: fit-content;
  height:auto;
   max-height: 220px;
  overflow-y: scroll;
}

/* Item in dropdown list */
.dropdown-item {
  height: 35px;
}

/* Current weathercard */
.current-weather-card {
  width: fit-content;
  min-width: 400px;
}

.current-weather-card div .row {
  margin-top: 10px;
}

/* Weather metrics for current weather card */
.metrics {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: fit-content;
}

/* The Five Day Forecast Section */
section {
  margin: 0px 10% 10px 10%;
}

/* Each card in the forecast */
.weather-card {
  min-width: fit-content;
  max-width: 60%;
  margin-left: auto;
   margin-right: auto;
}

/* Used to hide the forecast */
.hidden {
  display: none;
}
